<div class="text-center mt-5 title"><h1>Articles</h1></div>
<%= render 'article-card' %>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<br>

<%= link_to 'New Article', new_article_path %>
