<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Vnh-Web Blog</h1>
    <p class="lead">Đây là nơi chia sẻ những kiến thức về lập trình web cho những người muốn bắt đầu một ngôn ngữ hay một công việc mới. </p>
    <hr class="my-4">
    <p>Tôi cũng bắt đầu ở đây. Và muốn chia sẻ với mọi người về những gì mà mình đã, đang và sẽ học để có thể bắt đầu một công việc mới.</p>
    <% if !logged_in? %>
    <div >
      <%= link_to "Sign up!", new_user_path,remote:'true', :class =>"btn btn-success btn-lg"%>
    </div>
    <%end%>
  </div>
  <div id="dialog_form">
</div>
</div>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About page', about_path %> 
